<article class="page page-{{ page.id }}">
  <header>
    <h1 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  </header>

  <div class="body">
    {{ page.body }}
  </div>
</article>
